<div class="container-fluid">
  <div class="row">
    <h1>Quem está na Zygo:</h1>
  </div>

  <div class="row mx-auto" id="users-online">

    <div class="card text-left col-2 mr-2 mb-2">
      <div class="card-body">
        <h4 class="card-title">Felipe Bonetto</h4>
        <p class="card-text">
          Chegou as: 14h43 <br>
          Ultima vez visto em: 14h56
        </p>
      </div>
    </div>

  </div>
</div>


<img class="d-none" src="http://auth.felipesensbonetto@gmail.com.valoriza.io" alt="Auth.felipesensbonetto@gmail.com.valoriza">